<!DOCTYPE html>
<html lang="en">

<head>
    <title>JADWAL MATA KULIAH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typed.js"></script>

    <script>
        window.onload = function () {
            var typed = new Typed('.typing-effect', {
                strings: ["WELCOME",
                    "YOU CAN SEE ALL OF YOUR SCHEDULE HERE",
                    "WISH YOU LUCK TODAY",
                    "KNOWLEDGE IS POWER TO REACH BRIGHT FUTURE",
                    "ARTIFICIAL INTELEGENCE IS ONE OF YOUR BEST WEAPON"
                ],
                typeSpeed: 45 ,
                backDelay: 1500,
                loop: 1
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">JADWAL MATA KULIAH</a>
        <ul class="navbar-nav ml-auto">
            
        
       
         <li class="nav-item active">
             {% if loggedIn %}
            
            <li class="nav-item active">
                <a class="nav-link" href="index.php">Beranda</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="shop.php">Jadwal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="status.php">Pengingat</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="dfs2.php">dfs_algorithm</a>
            </li>
          
            
            <a class="nav-link" href="process_logout.php">Logout ({{ loggedInUser["full_name"] }})
            </a>
        </li>
            {% else %}
            <a class="nav-link" href="login.php">Login</a>
            {% endif %}
            </li>
        </ul>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <img class="original w-50 mx-auto d-block" src="images/DEL.jpg"> </div>
            <div class="col-md-8">
                <h1>NOTE</h1>
                <h2><span class="typing-effect"></span></h2>
                <p>Well, this web site will show you all of your schedule</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Ingat!</h3>
            <div id="statuses">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <p>{{ statuses["text"] }}
                            <span class="small font-italic">
                                {{ statuses["published_at"] }}
                            </span>
                        </p>
                        
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</div>
</body>

</html>