<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jadwal</title>
    <meta scharset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typed.js"></script>
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Jadwal</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.php">Beranda</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="shop.php">Jadwal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="status.php">Pengingat</a>
            </li>
             <li class="nav-item active">
                <a class="nav-link" href="dfs2.php">dfs_algorithm</a>
            </li>
            
           
        
        
        
             {% if loggedIn %}
             <a class="nav-link" href="process_logout.php">
                 Logout (
                     {{ loggedInUser['full_name'] }}
                     )
                </a>
                
                {% else %}
                <a class="nav-link" href="login.php">Login</a>
                {% endif %}
            </li>
        </ul>
</nav>

<nav class="navbar navbar-expand-sm navbar-blue">
  
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="senin.html">senin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="selasa.html">selasa</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="rabu.html">rabu</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="kamis.html">kamis</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="jumat.html">jumat</a>
            </li>
      
        </ul>
      </nav>