<!DOCTYPE html>
<html lang="en">

<head>
    <title>Request Kelas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typed.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Request Kelas</a>
        <ul class="navbar-nav ml-auto">
            
            
             <li class="nav-item active">
                 {% if loggedIn %}
                 <li class="nav-item active">
                    <a class="nav-link" href="index.php">Beranda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="shop.php">Jadwal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="status.php">Pengingat</a>
                </li>
            <li class="nav-item active">
                <a class="nav-link" href="dfs2.php">dfs_algorithm</a>
            </li>
              
            </li>
                 <a class="nav-link" href="process_logout.php">
                     Logout ({{ loggedInUser["full_name"] }})
                    </a>
                    {% else %}
                    <a class="nav-link" href="login.php">Login</a>
                    {% endif %}
                </li>
        </ul>
    </nav>
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <h1 class="text-center">My Schedule</h1>
                <img class="original w-50 mx-auto d-block" src="images/DEL.jpg">
               
            </div>
            <div class="col-md-6">
                {% if loggedIn %}
                <form method="post" action="add_status.php">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="text" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-5 offset-md-9">
                            <input class="btn btn-success btn-block" type="Submit" value="Add Schedule">
                        </div>
                    </div>
                </form>
                {% endif %}
                <div id="statuses">
                    {% for status in statuses %}
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <p>{{ status["text"] }}
                                <span class="small font-italic">
                                    {{ status["published_at"]
                                    }}
                                    </span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>

</html>